
<div *ngIf="news">
    <h2><span jhiTranslate="voltageApp.news.detail.title">News</span> {{news.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="voltageApp.news.created">Created</span></dt>
        <dd>
            <span>{{news.created | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.updated">Updated</span></dt>
        <dd>
            <span>{{news.updated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.version">Version</span></dt>
        <dd>
            <span>{{news.version}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.title">Title</span></dt>
        <dd>
            <span>{{news.title}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.body">Body</span></dt>
        <dd>
            <span>{{news.body}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.image">Image</span></dt>
        <dd>
            <div *ngIf="news.image">
                <a (click)="openFile(news.imageContentType, news.image)">
                    <img [src]="'data:' + news.imageContentType + ';base64,' + news.image" style="max-width: 100%;" alt="news image"/>
                </a>
                {{news.imageContentType}}, {{byteSize(news.image)}}
            </div>
        </dd>
        <dt><span jhiTranslate="voltageApp.news.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'voltageApp.Language.' + news.language}}">{{news.language}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'news/'+ news.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
