<div class="news-section-header">
    <h2 jhiTranslate="voltageApp.news.home.title">News</h2>
</div>
<div class="news-section-content">
    <article *ngFor="let news of news ;trackBy: trackId" class="news-article" [routerLink]="['../public-news', news.id ]">
        <header class="news-header">
            <a>{{news.title}}</a>
        </header>
        <figure class="news-figure">
            <a *ngIf="news.image">
                <img [src]="'data:' + news.imageContentType + ';base64,' + news.image" alt="news image"/>
            </a>
        </figure>
    </article>
    <div *ngIf="news && news.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
