<div class="news-section-header">
    <h2 jhiTranslate="voltageApp.news.home.title">News</h2>
</div>
<div class="news-section-content">
    <article *ngFor="let news of news ;trackBy: trackId" class="news-article" [routerLink]="['../public-news', news.id ]">
        <header class="news-header">
            <a>{{news.title}}</a>
        </header>
        <figure class="news-figure">
            <a *ngIf="news.imageUrl">
                <img [src]="news.imageUrl" alt="news image"/>
            </a>
        </figure>
    </article>
    <div *ngIf="news && news.length">
        <div class="row justify-content-center news-pagination">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
