<div>
    <br/>
    <h2>
        <span jhiTranslate="voltageApp.appProperty.home.title">App Properties</span>
        <button class="btn btn-primary float-right create-app-property" [routerLink]="['/', { outlets: { popup: ['app-property-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="voltageApp.appProperty.home.createLabel">
            Create new App Property
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="appProperties">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="voltageApp.appProperty.propertyType">Property Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="voltageApp.appProperty.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="value"><span jhiTranslate="voltageApp.appProperty.value">Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="language"><span jhiTranslate="voltageApp.appProperty.language">Language</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let appProperty of appProperties ;trackBy: trackId">
                <td><a [routerLink]="['../app-property', appProperty.id ]">{{appProperty.id}}</a></td>
                <td jhiTranslate="{{'voltageApp.AppPropertyType.' + appProperty.propertyType}}">{{appProperty.propertyType}}</td>
                <td>{{appProperty.name}}</td>
                <td>{{appProperty.value}}</td>
                <td jhiTranslate="{{'voltageApp.Language.' + appProperty.language}}">{{appProperty.language}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'app-property/'+ appProperty.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'app-property/'+ appProperty.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
