<footer class="container-fluid footer">
    <div class="border-bottom">
        <p>
            <br/>
        </p>
    </div>
    <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12 offset-md-2">
            <div class="footer-brand logo">
                <span class="logo-img"></span>
                <span jhiTranslate="global.title" class="footer-title">Voltage</span>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="footer-col menu">
                <label>Sitemap:</label>
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Mastering Partners</a></li>
                    <li><a href="">Site Map</a></li>
                    <li><a href="">Terms of Use</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Press</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-6 col-xs-12">
            <div class="footer-col contact">
                <label>Contact us:</label>
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> +371 2999 8888</li>
                    <li><i class="fa fa-envelope" aria-hidden="true"></i> info@voltage.com</li>
                    <li><br></li>
                    <li>
                        Rasas iela 9-99,<br>
                        Rīga, LV-1063 <br>
                        Latvia
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 col-xs-12">
            <div class="footer-col social">
                <label>Follow us on:</label>
                <ul>
                    <li><a href="https://plus.google.com/" class="fa fa-google-plus-square fa-2x"></a></li>
                    <li><a href="https://twitter.com/" class="fa fa-twitter fa-2x"></a></li>
                    <li><a href="https://www.facebook.com/" class="fa fa-facebook-square fa-2x"></a></li>
                    <li><a href="https://instagram.com/" class="fa fa-instagram fa-2x"></a></li>
                    <li><a href="https://www.youtube.com/" class="fa fa-youtube-play fa-2x"></a></li>
                </ul>
            </div>
        </div>

    </div>
    <div class="border-top">
        <div class="row copyright">
            <div class="col-md-4 col-sm-6 col-xs-12 offset-md-2">
                © 2017
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 text-md-right text-sm-right">
                Aleksandr Kartishev
            </div>
    </div>
</footer>
