<div>
    <br/>
    <h2>
        <span jhiTranslate="voltageApp.blogCategory.home.title">Blog Categories</span>
        <button class="btn btn-primary float-right create-blog-category" [routerLink]="['/', { outlets: { popup: ['blog-category-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="voltageApp.blogCategory.home.createLabel">
            Create new Blog Category
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="blogCategories">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="title"><span jhiTranslate="voltageApp.blogCategory.title">Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="language"><span jhiTranslate="voltageApp.blogCategory.language">Language</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let blogCategory of blogCategories ;trackBy: trackId">
                <td><a [routerLink]="['../blog-category', blogCategory.id ]">{{blogCategory.id}}</a></td>
                <td>{{blogCategory.title}}</td>
                <td jhiTranslate="{{'voltageApp.Language.' + blogCategory.language}}">{{blogCategory.language}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blog-category/'+ blogCategory.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'blog-category/'+ blogCategory.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="blogCategories && blogCategories.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
