
<div *ngIf="blog">
    <h2><span jhiTranslate="voltageApp.blog.detail.title">Blog</span> {{blog.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="voltageApp.blog.created">Created</span></dt>
        <dd>
            <span>{{blog.created | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.updated">Updated</span></dt>
        <dd>
            <span>{{blog.updated | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.version">Version</span></dt>
        <dd>
            <span>{{blog.version}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.title">Title</span></dt>
        <dd>
            <span>{{blog.title}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.body">Body</span></dt>
        <dd>
            <span>{{blog.body}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.language">Language</span></dt>
        <dd>
            <span jhiTranslate="{{'voltageApp.Language.' + blog.language}}">{{blog.language}}</span>
        </dd>
        <dt><span jhiTranslate="voltageApp.blog.blogCategory">Blog Category</span></dt>
        <dd>
            <span *ngFor="let blogCategory of blog.blogCategories; let last = last">
                <a [routerLink]="['/blog-category', blogCategory?.id ]">{{blogCategory.title}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'blog/'+ blog.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
