<ngb-carousel>
    <template ngbSlide class="cover-slide">
        <img src="../../../content/images/cover_1.jpg" class="cover-img" alt="Random first slide">
        <div class="carousel-caption">
            <h3>First slide label</h3>
            <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
        </div>
    </template>
    <template ngbSlide class="cover-slide">
        <img src="../../../content/images/cover_2.jpg" class="cover-img" alt="Random second slide">
        <div class="carousel-caption">
            <h3>Second slide label</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
    </template>
    <template ngbSlide class="cover-slide">
        <img src="../../../content/images/cover_3.jpg" class="cover-img" alt="Random third slide">
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </template>
</ngb-carousel>
