<div class="row">
    <div class="col-md-6 offset-md-2 col-sm-12 col-xs-12">
        <div class="blogs-section-content">
            <article *ngFor="let blog of blogs ;trackBy: trackId" class="blog-article">
                <header class="blog-header">
                    <a target="_blank" [routerLink]="['/public-blog', blog.id ]">{{blog.title}}</a>
                </header>
                <figure class="blog-figure">
                    <a target="_blank" [routerLink]="['/public-blog', blog.id ]" *ngIf="blog.imageUrl">
                        <img [src]="blog.imageUrl" alt="blog image"/>
                    </a>
                </figure>
                <p class="blog-short-content" [innerHTML]="blog.body | sliceParagraph"></p>
                <p class="blog-read-more"><a target="_blank" [routerLink]="['/public-blog', blog.id ]">Read more...</a></p>
            </article>
            <div *ngIf="blogs && blogs.length">
                <div class="row justify-content-center blogs-pagination">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-2 col-sm-12 col-xs-12">
        <div class="list-group blogs-section-categories">
            <a *ngFor="let blogCategory of blogCategories ;trackBy: trackId" [routerLink]="['/public-blog/category/', blogCategory.id ]" routerLinkActive="active" class="list-group-item">{{blogCategory.title}}</a>
        </div>
    </div>
</div>

